__pycache__
.zcompdump
extra.*
.tags
cmds/Users/pancia/projects/work
cmds/Users/anthony/projects/work
vimlocal/Users/pancia/projects/work/
vimlocal/Users/anthony/projects/work/
wiki/logseq/bak/
ai/workflows/*/logs
misc/monitor-analysis/*.png
misc/monitor-analysis/*.json
misc/yt-organize/*.json
