__pycache__
.zcompdump
extra.*
.tags
cmds/Users/pancia/projects/work
cmds/Users/anthony/projects/work
vimlocal/Users/pancia/projects/work/
vimlocal/Users/anthony/projects/work/
wiki/logseq/bak/
ai/workflows/*/logs
misc/monitor-analysis/*.png
misc/monitor-analysis/*.json
misc/yt-organize/*.json
fish/functions/_*
fish/functions/tide.fish
fish/functions/tide/
fish/functions/fisher.fish
fish/functions/fzf_configure_bindings.fish
fish/functions/fzfm.fish
fish/functions/nvm.fish
fish/functions/fish_prompt.fish
fish/functions/fzfm_fre_prune.clj
tmp/
cache/
