;<[.config/clj-kondo/config.edn]>
{:skip-comments true

 :config-paths ["/Users/pancia/dotfiles/lib/clojure/my-kondo"]

 :linters {:unused-binding {:level :off}}

 :lint-as {
           com.fulcrologic.fulcro.components/defsc                  clojure.core/defn
           com.fulcrologic.fulcro.mutations/defmutation             clojure.core/defrecord
           com.fulcrologic.fulcro.routing.dynamic-routing/defrouter clojure.core/defn
           com.fulcrologic.guardrails.core/>defn                    clojure.core/defn
           com.fulcrologic.guardrails.core/>defn-                   clojure.core/defn-
           com.fulcrologic.guardrails.core/>fn                      clojure.core/fn
           com.fulcrologic.guardrails.core/>fdef                    clojure.core/defn
           com.fulcrologic.guardrails.core/>fspec                   clojure.core/fn
           com.fulcrologic.guardrails-pro.test-checkers/>test-fn    clojure.core/fn
           com.wsscode.pathom.connect/defmutation                   clojure.core/defn
           com.wsscode.pathom.connect/defresolver                   clojure.core/defn
           mount.core/defstate                                      clojure.core/def
           taoensso.encore/if-let                                   clojure.core/let
           taoensso.encore/when-let                                 clojure.core/let
           fulcro-spec.check/checker                                clojure.core/fn
           }
 }
