{:aliases
   {:local/cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.8"}}}
    :local/f3-dev
      {:override-deps
         {com.fulcrologic/fulcro
            {:exclusions [com.taoensso/sente]
             :local/root "/private/links/projects/lib/fulcro"}}}
    :local/gr-dev
      {:override-deps
         {com.fulcrologic/guardrails
            {:local/root "/private/links/projects/lib/guardrails"}}}
    :local/mcp
      {:deps
         {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio
                                                      ;; server
          com.bhauman/clojure-mcp
            {:git/sha "7739dba"
             :git/tag "v0.1.11-alpha"
             :git/url "https://github.com/bhauman/clojure-mcp.git"}}
       :exec-args {:port 7888}
       :exec-fn clojure-mcp.main/start-mcp-server}
    :local/nREFL
      {:extra-deps
         {cider/cider-nrepl {:mvn/version "0.25.8"}
          dev.filament/filament
            {:local/root "/private/links/projects/work/filament"}
          tee/tee {:local/root "/private/links/dotfiles/lib/clojure/tee"}
          vlaaad/reveal
            {:mvn/version "1.3.209"
             #_#_:local/root "/private/links/projects/lib/reveal"}}
       :jvm-opts
         ["-Dvlaaad.reveal.prefs={:theme,:light,:font-size,30,:width,1600,:height,1200}"]
       :main-opts
         ["-e" "((requiring-resolve,'dev.filament.main/-main))" "-m"
          "nrepl.cmdline" "--interactive" "--middleware"
          "[dev.filament.nrepl/middleware,vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware,tee.core/middleware]"]}
    :local/nREPL
      {:extra-deps
         {cider/cider-nrepl {:mvn/version "0.28.7"}
          tee/tee {:local/root "/private/links/dotfiles/lib/clojure/tee"}}
       :main-opts
         ["-m" "nrepl.cmdline" "--port" "7888" "--interactive" "--middleware"
          "[cider.nrepl/cider-middleware,tee.core/middleware]"]}
    :local/nREVL
      {:extra-deps
         {cider/cider-nrepl {:mvn/version "0.25.8"}
          com.phronemophobic/reveal-treemap {:mvn/version "0.1.4"}
          nrepl/nrepl {:mvn/version "0.8.3"}
          tee/tee {:local/root "/private/links/dotfiles/lib/clojure/tee"}
          vlaaad/reveal
            {:mvn/version "1.3.209"
             #_#_:local/root "/private/links/projects/lib/reveal"}}
       :jvm-opts
         ["-Dvlaaad.reveal.prefs={:theme,:light,:font-size,30,:width,1600,:height,1200}"]
       :main-opts
         ["-e" "(require,'com.phronemophobic.reveal-treemap)" "-m"
          "nrepl.cmdline" "--interactive" "--middleware"
          "[vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware,tee.core/middleware]"]}
    :local/rad-dev
      {:override-deps
         {com.fulcrologic/fulcro-rad
            {:local/root "/private/links/projects/lib/fulcro-rad"}
          com.fulcrologic/fulcro-rad-datomic
            {:local/root "/private/links/projects/lib/fulcro-rad-datomic"}}}
    :local/spec-dev
      {:override-deps
         {fulcrologic/fulcro-spec
            {:local/root "/private/links/projects/lib/fulcro-spec"}}}
    :local/tee
      {:extra-deps
         {tee/tee {:local/root "/private/links/dotfiles/lib/clojure/tee"}}}}}
