;<[.config/clojure/deps.edn]>
{
 :aliases {:rad-dev {:override-deps {com.fulcrologic/fulcro-rad {:local/root "/Users/pancia/projects/lib/fulcro-rad"}
                                     com.fulcrologic/fulcro-rad-datomic {:local/root "/Users/pancia/projects/lib/fulcro-rad-datomic"}}}
           :f3-dev {:override-deps {com.fulcrologic/fulcro {:local/root "/Users/pancia/projects/lib/fulcro"
                                                            :exclusions [com.taoensso/sente]}}}}
 }
