colorscheme solarized-light

set lib_sort=album
set softvol=true
set start_view=sorted
set scroll_offset=7
set tree_width_percent=15
set tree_width_max=20

set format_playlist= %-15{album} | %-15%{artist} > %{title}%= %{duration} #%{play_count} .
set format_current= %{album} | %{artist} > %{title}
set status_display_program=cmus-status-display

unbind -f common t
unbind -f common m

bind -f common , seek -30s
bind -f common . seek +30s
