#<[.config/cmus/rc]>

colorscheme gruvbox

set lib_sort=album
set softvol=true
set start_view=sorted

# %{genre} is used because %{comment} is not recognized
set format_playlist= %-15{album} | %-15%{artist} > %{title}%= %{?genre?%g} %{duration} .
set format_current= %{album} | %{artist} > %{title}%=%{?genre?%g}

unbind common t
unbind common m
