# <[.ssh/config]>

#Host aworld.github.com
#  HostName github.com
#  IdentityFile ~/.ssh/for_tony
#  User git

Host altera-project.github.com
    HostName github.com
    IdentityFile ~/.ssh/altera
    UseKeychain yes
    AddKeysToAgent yes
    User git

Host *
    UseKeychain yes
    AddKeysToAgent yes
    Match host altera-project.github.com exec "exit 1"
    IdentityFile ~/.ssh/id_rsa
