;<[.zprint.edn]>
{:fn-map
   {"->" :arg1
    "->>" :arg1
    :default-not-none :wrap
    ">defn" :arg1-force-nl
    "assoc" :wrap
    "defsc" [:arg1-force-nl {:vector {:wrap? false}}]
    "postwalk" :force-nl
    "postwalk-replace" :force-nl
    "prewalk" :force-nl}
 :map {:comma? false :key-order [:id :type :kind]}
 :style [:no-hang]
 :width 80}
