<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>RunAtLoad</key><true/>
        <key>Label</key>
        <string>me.pancia.osx_startup_chime_disable</string>
        <key>ProgramArguments</key>
        <array>
            <string>/opt/dotfiles/osx_startup_chime_disable/disable_startup_chime.sh</string>
        </array>
        <!-- For debugging purposes -->
        <!--
        <key>StandardErrorPath</key>
        <string>/tmp/me.pancia.osx_startup_chime_disable.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/me.pancia.osx_startup_chime_disable.out</string>
        -->
    </dict>
</plist>
