<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.pancia.ziplog</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/anthony/dotfiles/services/ziplog/dotfiles-services-ziplog.sh</string>
        </array>
        <key>RunAtLoad</key>
        <false/>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>12</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <key>StandardOutPath</key>
        <string>/Users/anthony/.log/services/ziplog.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/anthony/.log/services/ziplog.log</string>
    </dict>
</plist>
