<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.pancia.screen-unlock</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/anthony/dotfiles/services/screen-unlock/dotfiles-services-screen-unlock.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/Users/anthony/.log/services/screen-unlock.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/anthony/.log/services/screen-unlock.log</string>
    </dict>
</plist>
